.App {
  text-align: center;
}
header {
  background-image: url("https://t4.ftcdn.net/jpg/03/23/82/09/240_F_323820996_XvqVyHLArJYBaC9fNX6P8WTKJ6vaLtQj.jpg");
  background-size: cover;
  height: 250px;
  border-top: 3px solid #1E3D49;
  border-bottom: 3px solid #1E3D49;

}

h1 {
  font-family: 'Rock Salt', cursive;  
  font-size: 50px;
  margin-top: 0;
}

h4 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.strains {
  font-weight: bold;
}

small {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* Add Strain div and button */
.add {
  margin: 20px auto;
  width: 170px;
}

.strain {
  font-size: 20px;
  padding: 20px;
  border: 1px solid gray;
  background-color: white;
  font-family: 'Julius Sans One', sans-serif;
}

.strain:hover {
  background-color: #2DCAE2;
  cursor: pointer;
}

.img {
  height: 120px;
  width: 120px;

  border-radius: 50%;
}

/* Name */
h2 {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  margin-bottom: 0;
}

/* Strain */
h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  margin-top: 7px;
}

.edit {
  font-size: 15px;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  font-family: 'Julius Sans One', sans-serif;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.delete {
  font-size: 15px;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.edit:hover {
  background-color: #2DCAE2;
  cursor: pointer;
}

.delete:hover {
  background-color: #2DCAE2;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

main {
  margin: 40px auto;
}

.card {
  margin-top: 40px;
}

input[type="text" i] {
  margin-right: 15px;
  font-size: 15px;
  padding: 9px;
  font-family: 'Julius Sans One', sans-serif;

}

input[type=submit i] {
  font-size: 15px;
  padding: 10px;
  border: 1px solid gray;
  background-color: white;
  font-family: 'Julius Sans One', sans-serif;

}

input[type=submit i]:hover {
  background-color: #2DCAE2;
  cursor: pointer;

}

.quality {
  padding: 15px;
  background-color: rgb(255, 255, 255, 0.5)
}

footer {
  background-color: #1E3D49;
  margin-top: 50px;
  height: 200px;
  position: relative;
}

.foot {
  color: white;
  position: absolute;
  right: 1%;
  bottom: 0;
  font-family: 'Julius Sans One', sans-serif;
  height: 20px;
}

.navlist {
  display: flex;
  font-family: 'Julius Sans One', sans-serif;
  justify-content: flex-start;
  padding-left: 0;
  


}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

